<div class="kudo">
    <form method="post" action="?_method=PUT">
    <div class="header nowrap">Kudos para <input name="para" value="{{para}}"></div>
    <div class="divisor"></div>
    <img src="imagenes/art/{{imagen}}.png"/>
    <div class="content nowrap">
        <input name="por" value="{{kudo.por}}">
        <div class="firma">-- <i>{{autor}}</i></div>
    </div>
    </form>
    <form method="post" action="?_method=DELETE">
        <input type="submit" value="Borrar">
    </form>
</div>



    <label>Para: </label><br />
    
    <label>Autor: </label>{{kudo.autor}}<br />
    <input type="submit" value="Editar">

